
<!DOCTYPE html>
<html>
<head>
    <title>天润融通 VNC-devops管理</title>
    <meta charset="utf-8">

    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
    <style type="text/css">
        .spot ul {
            list-style: none;
            margin: 0px;
        }

        .bar {
            padding-left: 10px;
            padding-right: 10px;
        }

        .pad {
            border: 1px solid #F1EDED;
            padding: 5px 10px 10px 15px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }

        h3 {
            margin-top: 5px;
        }

        .header {
            height: 45px;
        }

        .angle {
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;
            border-radius: 8px;
        }

        .size {
            font-size: 20px;
        }
    </style>
</head>
<body>
<!--blue-->
<div class="panel panel-primary angle">
    <div class="panel-heading header angle">
        <h3 class="panel-title text-center size">
            <a href="/devops-development">
                <button type="button" class="btn btn-primary ">
                    <span class="glyphicon glyphicon-search"></span>研发管理
                </button>
            </a>
            <a href="/devops-monitor">
                <button type="button" class="btn btn-primary ">
                    <span class="glyphicon glyphicon-search"></span>监控管理
                </button>
            </a>
            <a href="/devops-vnc">
                <button type="button" class="btn btn-primary ">
                    <span class="glyphicon glyphicon-search"></span><font color="red">台账管理</font>
                </button>
            </a>
        </h3>
    </div>
    <div class="panel-body">
        <!--<h3>研发</h3>-->
        <div class="row">
            <div class="bar col-md-4">
                <div class="pad">
                    <h4>home(开发环境)</h4>

                    <p>vnc-home-1-dev.vlink.cn</p>
                    <a href="http://vnc-home-1-dev.vlink.cn/login.do" target="_blank">
                        <button type="button" class="btn btn-primary "><span class="glyphicon glyphicon-search"></span>
                            浏览
                        </button>
                    </a>
                </div>
            </div>

            <div class="bar col-md-4">
                <div class="pad">
                    <h4>home(ali-1)</h4>
                    <p>vnc-home-1.vlink.cn</p>
                    <a href="http://vnc-home-1.vlink.cn/login.do" target="_blank">
                        <button type="button" class="btn btn-primary "><span class="glyphicon glyphicon-search"></span>
                            浏览
                        </button>
                    </a>
                </div>
            </div>
            <div class="bar col-md-4">
                <div class="pad">
                    <h4>home(ali-3)</h4>
                    <p>vnc-home-3.vlink.cn</p>
                    <a href="http://vnc-home-3.vlink.cn/login.do" target="_blank">
                        <button type="button" class="btn btn-primary "><span class="glyphicon glyphicon-search"></span>
                            浏览
                        </button>
                    </a>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="bar col-md-4">
                <div class="pad">
                    <h4>home(aws-2)</h4>
                    <p>vnc-home-2.vlink.cn</p>
                    <a href="http://vnc-home-2.vlink.cn/login.do" target="_blank">
                        <button type="button" class="btn btn-primary "><span class="glyphicon glyphicon-search"></span>
                            浏览
                        </button>
                    </a>
                </div>
            </div>
            <div class="bar col-md-4">
                <div class="pad">
                    <h4>home(aws-4)</h4>
                    <p>vnc-home-4.vlink.cn</p>
                    <a href="http://vnc-home-4.vlink.cn/login.do" target="_blank">
                        <button type="button" class="btn btn-primary "><span class="glyphicon glyphicon-search"></span>
                            浏览
                        </button>
                    </a>
                </div>
            </div>
        </div>
        </br>
    </div>
</div>

</body>
</html>